<?xml version="1.0"?>
<model>
  <name>honeybee_payload</name>
  <version>1.0</version>
  <sdf version="1.4">honeybee_payload.sdf</sdf>

  <author>
   <name>Murray Louw</name>
   <email>jmurraylouw@gmail.com</email>
  </author>

  <description>
    Model of a racing drone with a suspended payload
  </description>
</model>
